<!doctype html>
<html lang="en">
    <head>

        {{! Document settings and metadata }}
        <title>{{meta_title}}</title>
        <meta charset="utf-8" />
        <meta name="designer" content="Hayden Bleasel" />
        <meta name="rating" content="general" />
        <meta name="keywords" content="ghost, blog, {{meta_title}}" />

        {{! iOS, Android and Windows stuff }}
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=yes" />
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="msapplication-TileImage" content="{{asset 'images/windows-tile.png'}}" />
        <meta name="msapplication-TileColor" content="#262A2D" />

        {{! Robots and Viewport }}
        <meta name="robots" content="index, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        {{! OpenGraph for Facebook }}
        <meta property="og:title" content="{{meta_title}}" />
        <meta property="og:locale" content="en_US" />

        {{! Twitter Card }}
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:title" content="{{meta_title}}" />

        {{! Icons }}
        <link rel="icon" href="http://edwardsblog.qiniudn.com/0/6d/3ad2e76ce64d5f292e1de76f57909.ico" />
        <link rel="icon" sizes="196x196" href="{{asset 'images/android-homescreen.png'}}" />
        <link rel="apple-touch-icon" href="{{asset 'images/apple-touch-icon.png'}}" />

        {{! Prerendering and Prefetching }}
        {{#if @blog.cover}}
            <link rel="prerender" href="{{@blog.cover}}" />
            <link rel="prefetch" href="{{@blog.cover}}" />
        {{/if}}
        <link rel="dns-prefetch" href="//fonts.googleapis.com/" />

        {{! Scripts and Stylesheets }}
        <link rel="stylesheet" href="{{asset 'css/normalize.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/basics.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/animate.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/gist.css'}}" />
        <link rel="stylesheet" href="{{asset 'css/phantom.css'}}" />
        <script src="{{asset 'js/html5shiv-printshiv.js'}}"></script>
        <script src="{{asset 'js/respond.js'}}"></script>

        {{! 语法高亮 }}
        <link href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css" rel="stylesheet"> 

        {{! Page-Specific Metadata }}
        {{{block "meta"}}}

        {{ghost_head}}

    </head>
    <body class="{{body_class}}">
        <nav class="animated fadeIn navigation">
            <div class="container">
                <a href="{{@blog.url}}" class="text-right sidebar brand">
                    {{! 添加home和blog.description的展示 }}
                    {{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}" />{{/if}}
                </a>
                <p class="content">{{@blog.title}}</p><p class="content desc" style="font-size:76%; padding-left:0.5%;">{{@blog.description}}</p>
            </div>
        </nav>
        <div class="main">
            {{{body}}}
        </div>
        <footer class="animated fadeIn" id="footer">
            <div class="container text-center">
                <p class="copyright"><span>Made by {{@blog.title}}.</span> <span>Powered by Ghost.</span></p>
                <a href="https://github.com/haydenbleasel/phantom" class="theme">Theme: Phantom by Hayden Bleasel, customized by Zida</a>
                <br><a class="theme" href="http://www.miitbeian.gov.cn/">京ICP备14046809号</a>

            </div>
        </footer>

        {{ghost_foot}}

        {{! Deferred scripts }}
        <script src="{{asset 'js/fastclick.js'}}"></script>
        <script src="{{asset 'js/stellar.js'}}"></script>
        <script src="{{asset 'js/phantom.js'}}"></script>
        {{! 语法高亮 }}
        <script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
        <script >hljs.initHighlightingOnLoad();</script>  
        {{! 站长统计 需修改}}
        <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253503981'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s23.cnzz.com/stat.php%3Fid%3D0000000000%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
    </body>
</html>
