<!DOCTYPE html>
<html>

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" /> {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" /> {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" /> {{!-- Brand icon --}}
    <link rel="shortcut icon" href="http://edwardsblog.qiniudn.com/0/6d/3ad2e76ce64d5f292e1de76f57909.ico"> {{!-- Styles'n'Scripts --}}

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400s" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400"></noscript>
    <link rel="stylesheet" href="{{asset "css/screen.min.css"}}" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="{{asset "css/screen.min.css"}}"></noscript>
    <link rel="stylesheet" href="//cdn.bootcss.com/lightbox2/2.9.0/css/lightbox.min.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="//cdn.bootcss.com/lightbox2/2.9.0/css/lightbox.min.css"></noscript>
    <link href="" rel="stylesheet"> 
    <link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.10.0/styles/darcula.min.css" media="none" onload="if(media!='all')media='all'">
    <noscript><link rel="stylesheet" href="//cdn.bootcss.com/highlight.js/9.10.0/styles/darcula.min.css"></noscript>
    {{ghost_head}}
</head>

<body class="{{body_class}} nav-closed">

    {{!-- The blog navigation links --}} {{navigation}}

    <div class="site-wrapper">

        {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}} {{{body}}} {{!-- The tiny footer at the very
        bottom --}}
        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with <a href="https://ghost.org">Ghost</a></section>
            <a class="theme" href="http://www.miitbeian.gov.cn/">ICP备号</a>
        </footer>

    </div>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.0.min.js"></script>
    {{!-- Ghost outputs important scripts and data with this tag --}} {{ghost_foot}} {{!-- Fitvids makes video embeds responsive
    and awesome --}}
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "js/casper.min.js"}}"></script>
    {{! 语法高亮 }}
    <script src="//cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.10.0/languages/yaml.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    {{! lightbox and need jquery}}
    <script src="//cdn.bootcss.com/lightbox2/2.9.0/js/lightbox.min.js"></script>

    {{! Mathjax 数学公式 }}
    <script type="text/javascript" src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

</body>

</html>